In [3]:
import pandas as pd
import numpy as np

## Reading the dataset

In [4]:
df = pd.read_csv("forestfires.csv")
df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

## Data preprocessing

In [6]:
# encode the month and day columns
df['month'] = df['month'].astype('category')
df['day'] = df['day'].astype('category')
df['month'] = df['month'].cat.codes
df['day'] = df['day'].cat.codes
df

     X  Y  month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5      7    0  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4     10    5  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4     10    2  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6      7    0  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6      7    3  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..    ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3      1    3  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4      1    3  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4      1    3  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4      1    2  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3      9    5  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [26]:
X = df.drop(['area'], axis=1)
y = df['area']
y_log = np.log1p(y)
Y = pd.DataFrame(columns=['y', 'y_log'], data=np.array([y, y_log]).T)

In [16]:
X.shape

(517, 12)

In [27]:
Y

         y     y_log
0     0.00  0.000000
1     0.00  0.000000
2     0.00  0.000000
3     0.00  0.000000
4     0.00  0.000000
..     ...       ...
512   6.44  2.006871
513  54.29  4.012592
514  11.16  2.498152
515   0.00  0.000000
516   0.00  0.000000

[517 rows x 2 columns]

## Feature selection

In [29]:

from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import load_iris
from sklearn.feature_selection import SelectFromModel

# make feature selection with a forest of trees on a regression problem
clf = RandomForestRegressor(n_estimators=200, max_depth=10, min_samples_leaf=3)
clf = clf.fit(X, Y['y_log'])
sorted(zip(map(lambda x: round(x, 4), clf.feature_importances_), X.columns), reverse=True)

[(0.2038, 'temp'),
 (0.1201, 'DMC'),
 (0.1189, 'RH'),
 (0.1015, 'DC'),
 (0.0998, 'wind'),
 (0.082, 'X'),
 (0.0819, 'ISI'),
 (0.0715, 'FFMC'),
 (0.0465, 'Y'),
 (0.0459, 'day'),
 (0.0277, 'month'),
 (0.0003, 'rain')]

In [20]:
clf.feature_importances_

array([5.04716257e-02, 2.89082318e-02, 2.08553703e-02, 3.55545894e-02,
       3.57864368e-02, 1.67567938e-01, 4.91510759e-02, 5.86100705e-02,
       4.32680866e-01, 6.65970343e-02, 5.37842553e-02, 3.25062554e-05])

Spored shumata se otstranuvaat dvata najmenznacajni vrednosti

In [ ]:
X = X.drop['rain', 'month']

## Feature extraction